<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/style/home.css">


    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/logo.png" type="image/x-icon">
</head>
<body>
    <%= partsHome %> 
    <section id="container-publicidad">
        <video src="/public/img/publicidad.mp4" autoplay loop></video>
        <div id="cont-controls-play">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" class="svg-inline--fa fa-play fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>
        </div>
    </section>
    <section id="container-product">
        <header><h1>Productos</h1></header>
        <div>
            <a href="/product/clasification/carne">
                <img src="/public/img/carnes.jpg" alt="">
                <header><h1>Carnes</h1></header>
            </a>
            <a href="/product/clasification/alimentos">
                <img src="/public/img/alimentos.jpg" alt="">
                <header><h1>Alimentos</h1></header>
            </a>
            <a href="/product/clasification/juguetes">
                <img src="/public/img/juguetes.jpeg" alt="">
                <header><h1>Juguetes</h1></header>
            </a>
            <a href="/product/clasification/electronica">
                <img src="/public/img/electronica.jpg" alt="">
                <header><h1>Electronica</h1></header>
            </a>
            <a href="/product/clasification/aseo">
                <img src="/public/img/aseo.jpg" alt="">
                <header><h1>Aseo personal</h1></header>
            </a>
            <a href="/product/clasification/general">
                <img src="/public/img/mas.jpeg" alt="">
                <header><h1>Mas</h1></header>
            </a>
        </div>
    </section>
    <%= partsCarrito %> 
</body>
</html>